.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.top_btn {
  display: flex;
  gap: 24px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact_form form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}

.form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form_control textarea{
  padding: 0 8px;
}

.form_control input {
  height: 40px;
  padding: 0 8px;
}

/* .form_control label{
  position: absolute;
  top: 340px;
  left: 110px;
  background-color: white;
  padding: 0 10px;
  font-weight: 600;
} */


.contact_image img{
height: 400px;
width: 400px;
margin-left: 150px;
}

/* .right_image{
  height: 400px;
  width: 400px;
} */




